.Panel {
  border-radius: 1.25rem;

  header, footer {
	& > *:first-child {
	  margin-top: 0;
	}
   & > *:last-child {
	margin-bottom: 0;
  }
  }

  &[data-variant="withPadding"] {
	padding: 4rem 1.25rem;


	@media screen and (min-width: 744px) {
	  padding: 4rem 3.75rem;
	}

	@media screen and (min-width: 1299px) {
	  padding: 3rem;
	}
  }

  &[data-variant="withPaddingLg"] {

  }

  &[data-variant="withPaddingSm"] {
	header {
	  @apply px-5 pt-5 pb-1.5;
	  & + * {
		margin-top: 0;
	  }
	}

	footer {
	  @apply px-5 pb-5 pt-1.5 mt-12  min-h-[3rem] grid items-end;
	  & > * {
		@apply border-t border-t-gray-2 pt-6;
	  }
	}
  }
	&[data-variant="withPadding_1_2"] {
	> header {
	  @apply px-8 pt-8 pb-4 min-h-[2rem];
	  & + * {
		margin-top: 0;
	  }
	}
	> [data-panel="body"] {
	  @apply p-8;
	}
	> footer {
	  @apply px-8 pb-8 pt-4 mt-12  min-h-[3rem] grid items-end min-h-[2rem];
	  & > * {
		@apply border-t border-t-gray-2 pt-6;
	  }
	}
  }

  &[data-variant="withPaddingSmWithBody"] {

	header {
	  @apply px-5 pt-5 pb-1.5;
	  & + * {
		margin-top: 0;
	  }

	  & > *:first-child {
		margin-top: revert;
		margin-bottom: revert;
	  }
	}

	[data-panel="body"] {
	  @apply p-5;
	}

	footer {
	  @apply px-5 pb-5 pt-1.5 mt-12  min-h-[3rem] grid items-end;
	  & > * {
		@apply border-t border-t-gray-2 pt-6;
	  }
	}
  }


  &[data-background="glass"] {
	border: 0.0625rem solid var(--borderPanelColor);
	background-color: var(--bgPanelColor);
  }

  header + * {
	@apply mt-8;
  }

  footer {
	@apply mt-11 tablet:mt-11 desktop:mt-20;
  }
}

.panelBody {
  display: block;
}
