.Panel {
  border-radius: 1.5rem;
  @apply col-span-full;

  header {
	& > *:first-child {
	  margin-top: 0;
	}
  }
  footer {
	& > *:last-child {
	  margin-bottom: 0;
	}
  }

  header {
	//@apply mt-8;

  }

  footer {

  }

  [data-panel="body"] {
	& > *:first-child {
	  margin-top: 0;
	}

	& > *:last-child {
	  margin-bottom: 0;
	}
  }

  &[data-variant="modal"] {
		@apply  py-16 px-12;
  }
  &[data-variant="textPadding"] {
	@apply bg-gray-4/70;
	> header {
	  @apply px-8 pt-12 pb-6;
	}

	> footer {
	  @apply px-8 pb-12 pt-6 flex gap-6 justify-end items-end;
	}

	> [data-panel="body"] {
	  @apply  px-8 py-6;
	}
	> [data-panel="body"]:first-child {
	  padding-top: 3rem;
	}
	> [data-panel="body"]:last-child {
	  padding-bottom: 3rem;
	}

  }

  &[data-variant="dataPadding"] {
	@apply border border-gray-2;
	> header {
	  @apply lg:px-8 pt-8 pb-4;
	}

	> footer {
	  @apply px-8 pb-8 pt-4 flex gap-6 justify-end items-end;
	}

	> [data-panel="body"] {
	  @apply px-0 py-0;
	}
  }
  //&[data-variant="dataPadding"] {
	//header {
	//  @apply lg:px-8 pt-8 pb-4;
	//}
  //
	//footer {
	//  @apply px-8 pb-8 pt-4 flex gap-6 justify-end items-end;
	//}
  //
	//[data-panel="body"] {
	//  @apply px-0 py-0;
	//}
  //}



  &[data-variant="withGapOnly"] {
	gap: 1.5rem;
	display: grid;

	header {
	  @apply flex justify-between;
	  & > h1, & > h2 {
		margin: 0;
		line-height: 1;
	  }
	}

	> [data-panel="body"] {
	  & > *:first-child {
		margin-top: 0;
	  }

	  & > *:last-child {
		margin-bottom: 0;
	  }
	}

	footer {
	}
  }



  &[data-variant="withPaddingSmWithBody"] {

	header {
	  @apply px-5 pt-5 pb-1.5;
	  & + * {
		margin-top: 0;
	  }

	  & > *:first-child {
		margin-top: revert;
		margin-bottom: revert;
	  }
	}

	[data-panel="body"] {
	  @apply p-5;
	}

	footer {
	  @apply px-5 pb-5 pt-1.5 mt-12  min-h-[3rem] grid items-end;
	  & > * {
		@apply border-t border-t-gray-2 pt-6;
	  }
	}
  }

  &[data-background="glass"] {
	border: 0.0625rem solid var(--borderPanelColor);
	@apply bg-gray-4/70;
	backdrop-filter: blur(2px);
  }
}
