.Panel {
  border-radius: 20px;

  header, footer {
	& > *:first-child, & > *:last-child {
	  margin: 0;
	}
  }

  &[data-variant="withPadding"] {
	padding: 4rem 1.25rem;
	@media screen and (min-width: 744px) {
	  padding: 4rem 3.75rem;
	}

	@media screen and (min-width: 1299px) {
	  padding: 3rem;
	}
  }

  &[data-background="glass"] {
	border: 1px solid var(--borderPanelColor);
	background-color: var(--bgPanelColor);
  }
  header + * {
	@apply mt-8;
  }
  footer {
	@apply mt-11 tablet:mt-11 desktop:mt-20;
  }
}

.panelBody {
  display: block;
}
