.Chips {
	font-size: .5rem;
  font-weight: 600;
  line-height: 1.29;
  color: black;
  padding: .125rem 0;
  display: inline-block;
  align-items: center;
  height: 1rem;
  border-radius: .5rem;
  width: 3.75rem;
  text-align: center;
  text-transform: lowercase;
  &[data-state="true"] {
	background-color: var(--colorStateActive);
  }
  &[data-state="false"] {
	background-color: var(--colorStateNotActive);
  }

}
