.TableWithSort {
  border-top: 1px solid #242529;
  width: 100%;

  thead {
	background-color: #090909;
  }

  th {
	@apply text-xss font-medium px-1;
	padding-top: .75rem;
	padding-bottom: .75rem;
	letter-spacing: 0.05em;
	line-height: 1;
	&:first-child {
	  padding-left: 2rem;
	  width: 7rem;
	}
	&:last-child {
	  padding-right: 2rem;
	  width: 10rem;
	}

  }

  tr {
	width: 100%;
  }

  td {
	@apply px-1;
	span {
	  vertical-align: text-bottom;
	  line-height: .625rem;
	}
  }

  &[data-style="company"] {
	th:first-child, td:first-child, {
	  width: 7rem;
	}
  }

  svg {
	display: inline-block;
	margin-left: .5rem;
	width: .75rem;
	height: .625rem;
  }
}

.tableheader {
  //display: grid;
  grid-auto-flow: column;
  text-align: left;

}

.TableWithSortPanel {
  overflow: hidden;

  header {
	+ * {
	  margin-top: 0 !important;
	}

	margin-bottom: 0;
	@media screen and (min-width: 768px) {
	  margin-bottom: 0;
	}
	padding: 1.25rem 1.25rem .5rem;
	display: flex;
	align-items: center;
	background: #090909;
  }
}

.btnFilter {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  border-radius: .625rem;
  padding: .5rem;
  background-color: #242529;
  border: 2px solid transparent;
  position: relative;
  z-index: 1111;
  overflow: visible;
  path {
	stroke: var(--accentColor);
	stroke-width: 1;
  }
	&:hover, &:focus {
	  border-color: var(--accentColor);
	}
}
.filterBar {
  background-color: #18191F;
  padding: 1.25rem;
  border-radius: 12px;
  display: grid;
  border: 2px solid transparent;
  gap: 1.25rem;
  position: absolute;
  z-index: -1;
  max-height: 0;
  opacity: 0;
  top: 3rem;
  right: 0;
  &[data-state="true"] {
	z-index: 999;
	max-height: initial;
	opacity: 1;
	box-shadow: -9px 10px 11px 0px rgba(0, 0, 0, 0.25);
	border: 2px solid var(--accentColor);

  }
}
.tableheading {
  color: #929398;
  font-size: .625rem;
  text-transform: uppercase;
  //padding: 5px 0;
  cursor: pointer;

  &:hover {
	color: #ffffff;
  }

  &:first-child {
	padding-left: 2rem;
  }

  &[data-sort-selected="true"] {
	span {
	  @apply text-accent;
	}

	path:nth-child(1) {
	  fill: white;
	}

	&[data-sort-reversed="true"] {
	  path:nth-child(1) {
		fill: #606163;
	  }

	  path:nth-child(2) {
		fill: white;
	  }

	}
  }

}

.tableRow {
  //display: grid;
  width: 100%;
  grid-auto-flow: column;
  grid-template-columns: 6rem 2fr 1fr 1fr;

  &:hover {
	background: linear-gradient(114.94deg, rgba(0, 255, 240, 0.42) 17.48%, rgba(77, 91, 83, 0.1) 84.13%);
  }

  cursor: pointer;

  &:hover {
	color: #ffffff;
  }
}

.tableCell {
  font-size: .75rem;
  font-weight: 500;
  //display: block;
  padding: 1rem 0;

  &:first-child {
	padding-left: 2rem;
  }
  &:last-child {
	padding-right: 2rem;
  }

}
