
.page-account {
  padding: .75rem 0 2rem 0;
  @media screen and (min-width: 743px) {
	padding: .75rem 0 2rem 0;
  }

  main {
	@apply mt-7;
	@media screen and (min-width: 744px) {
	  margin-top: clamp(1rem, 100%, 2rem);
	}
  }
  .logo-header {
	display: block;
	flex-flow: column;
	flex: 0 1 14rem;
	padding: .75rem 1.125rem;
	border-radius: 1.25rem;
	background: var(--gradient-directory);

	a {
	  color: #0C0C0C;
	}

	span {
	  margin-left: 0;
	  line-height: 1.29;
	  font-family: Montserrat;
	  font-weight: 700;
	  text-transform: uppercase;
	  @apply text-xss;
	  color: rgba(23, 22, 22, 0.76);
	  letter-spacing: .1em;
	}
	@screen lg {
	  display: flex;
	}
  }

  & > footer {
	grid-column: 2/4;
	padding-left: 1.25rem;
  }
  section {
	& > [data-variant="dataPadding"], & > [data-variant="dataPadding"],  {
	  @screen lg-max {
		margin: 0 -1.25rem;
	  }
	}
  }
}

.page-intro {
  padding: 2rem 0;
  @media screen and (min-width: 743px) {
	padding: 3.5rem 0 2.25rem;
  }

  main {
	@apply mt-16;
	@media screen and (min-width: 744px) {
	  margin-top: clamp(1rem, 100%, 4rem);
	}
  }

}

