.col-span-5 {
  grid-column: span 5;
}
.col-span-6 {
  grid-column: span 6;
}
.col-span-6-col-start-8 {
  grid-column: 1/-1;
  @media screen and (min-width: 744px){
    grid-column: 8/span 6;
  }
}

.col-start-8 {
  grid-column-start: 8;
}
.authBg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translate(-750px, 400px);
}
.authBgSec {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translate(380px, 140px);
}
