:root {
	--background: #000000;
  	--colorWhite: #ffffff;
  	--colorBlack: #000000;
	--fontColor: #FFFFFF;
  --colorStateActive: #13FF71;
  --colorStateNotActive: var(--errorColor);
  	--colorInputText: #171313;
	--gradient-admin: linear-gradient(120.68deg, #D80BEA 15.78%, #00FFAE 86.68%);
	--gradient-customer: linear-gradient(120.44deg, #3FECAE 24.44%, #0500FF 119.81%);
	--gradient-executor: linear-gradient(90.76deg, #00A8AA 0.27%, #F0F600 87.66%);
  --accentColor: #00FFAE;
  	--errorColor: rgba(244, 86, 95, 1);
  	--buttonOutlineText: #DCFFF4;
	--container: 1300px;
	--gridGap: 20px;
	--totalCol: 12;
  	--shadow: -9px 10px 11px rgba(0, 0, 0, 0.25);
	--columnWidth: 90px;
	--sideGutter: calc((100vw - var(--container)  ) / 2 - 8px - var(--gridGap));
	--grid:  var(--sideGutter) repeat(2, minmax(96px, 1.33fr)) repeat(var(--totalCol), .95fr) var(--sideGutter);
	--gridinner: repeat(var(--totalCol), 1fr);
	--centered: 2/-2;
	--full_centered: 1/-1;
	//forms and inputs
  	--formBorder: #B6C1BE;
  	--formBorderSelected: var(--accentColor);
	//Panel
	--bgPanelColor: rgba(36, 37, 41, 0.60);
	--borderPanelColor:  rgba(96, 97, 99, 0.60);

	@media screen and (max-width: 1299px){
	  --container: 710px;
	  --gridGap: 10px;
	  --totalCol: 12;
	  --centered: 3/-3;
	  --sideGutter: 20px;
	}
	@media screen and (max-width: 743px){
	  --sideGutter: 20px;
	  --container: 350px;
	  --gridGap: 0px;
	  --totalCol: 6;
	  --centered: 2/-2;
	}
  }
html[data-theme='light'] {
  --background: #fff;
  --fontColor: #000;
}

html[data-theme='dark'] {
  --background: #000000;
  --fontColor: #fff;
}
